<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Index</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600' rel='stylesheet' type='text/css'>
  <script data-require="jquery@*" data-semver="2.0.3" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- pretty checkbox CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="../static/css/style2.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

</head>
<body>
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Gingko</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Sub Scores</p >

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Spelling' type="checkbox" checked />
            <div class="state p-danger">
              <label>Spelling</label>
            </div>
          </div>
        </a >
      </li>

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Grammar' type="checkbox" />
            <div class="state p-danger">
              <label>Grammar</label>
            </div>
          </div>
        </a >
      </li>

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Reading Level' type="checkbox" checked/>
            <div class="state p-danger">
              <label>Reading Level</label>
            </div>
          </div>
        </a >
      </li>

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Number of Ads' type="checkbox" />
            <div class="state p-danger">
              <label>Number of Ads</label>
            </div>
          </div>
        </a >
      </li>

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Number of Images' type="checkbox" />
            <div class="state p-danger">
              <label>Number of Images</label>
            </div>
          </div>
        </a >
      </li>

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Social Network Links' type="checkbox" checked/>
            <div class="state p-danger">
              <label>Social Network Links</label>
            </div>
          </div>
        </a >
      </li>

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Cross-site Citations' type="checkbox" checked />
            <div class="state p-danger">
              <label>Cross-site Citations</label>
            </div>
          </div>
        </a >
      </li>

      <li>
        <a>
          <div class="pretty p-default" onclick="display()">
            <input id='Sentiment' type="checkbox"/>
            <div class="state p-danger">
              <label>Sentiment</label>
            </div>
          </div>
        </a >
      </li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <!--<div class="container-fluid">-->
      <div class="searchBar">

        <div style="width:100%;height:100%;">
          <input type="text" autocomplete="off" aria-autocomplete="false" aria-describedby="searchBoxAccessibleText" class="SearchBoxInput" data-test-id="SearchBoxInput" id="searchBar" placeholder="www.fakenews.com" value="">
        </div>
        <div>
          <a href="#">
            <svg class="searchIcon" viewBox="0 0 24 24" aria-hidden="true" aria-label="" role="img">
              <path d="M10.00,16.00 C6.69,16.00 4.00,13.31 4.00,10.00 C4.00,6.69 6.69,4.00 10.00,4.00 C13.31,4.00 16.00,6.69 16.00,10.00 C16.00,13.31 13.31,16.00 10.00,16.00 M23.12,18.88 L18.86,14.62 C19.59,13.24 20.00,11.67 20.00,10.00 C20.00,4.48 15.52,0.00 10.00,0.00 C4.48,0.00 0.00,4.48 0.00,10.00 C0.00,15.52 4.48,20.00 10.00,20.00 C11.67,20.00 13.24,19.59 14.62,18.86 L18.88,23.12 C20.05,24.29 21.95,24.29 23.12,23.12 C24.29,21.95 24.29,20.05 23.12,18.88" data-reactid="43"></path>
            </svg>
          </a>

        </div>
      </div>
      <!--</div>-->
    </nav>
    <div class="main">
      <div class="container landing-page">
        <div class="row">
          <div class="col-lg-12">
            <h2 >Credibility Score </h2>
            <h1 style="margin-bottom: 30px; font-weight: bold; color: #feb700;" id="credibility score"></h1>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-12" id="age_pie">
            <div id="pie2" style="margin: auto;"></div>
          </div>

        </div>
      </div>

    </div>

  </div>

</div>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Js CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script>



  let fullSet = [
    {"id":"Spelling","score":35,"weight": 34, "c":"#2278eb"},
    {"id":"Grammar","score":53,"weight": 34, "c":"#0092ff"},
    {"id":"Reading Level","score":51,"weight": 34, "c":"#00a9ff"},
    {"id":"Number of Ads","score":60,"weight": 34, "c":"#00beff"},
    {"id":"Social Network Links","score":59,"weight": 34, "c":"#00d1f8"},
    {"id":"Number of Images","score":41,"weight": 34, "c":"#00e2e1"},
    {"id":"Cross-site Citations","score":59,"weight": 34, "c":"#00f2c4"},
    {"id":"Sentiment","score":52,"weight": 34, "c":"#00ffa6"}
  ];
  window.onload = display();



  function display() {
    $("#pie2").children().remove();

    let data = [];

    for (const item of fullSet) {
      if (document.getElementById(item.id).checked) {
        data.push(item);
      }
    }

    let sum = 0;
    for (const d of data) {
      sum += d.score;
    }

    document.getElementById("credibility score").innerHTML = (sum/data.length).toFixed(0);

    width = 300;
    height = 300;
    radius = Math.min(width-100,height-100)/2;

    let arc = d3.arc().outerRadius(60).innerRadius(0);

    let a= width/2 - 20;
    let b= height/2 - 90;
    let svg = d3.select("#pie2").append("svg")
            .attr("viewBox", "0 0 " + (width-50) + " " + height/2)
            .attr("preserveAspectRatio", "xMidYMid meet")
            .append("g")
            .attr("transform","translate("+a+","+b+")");


    div = d3.select("body").append("div").attr("class", "tooltip");

    let pie = d3.pie()
            .sort(null)
            .startAngle(1.0*Math.PI)
            .endAngle(3.0*Math.PI)
            .value(function(d){return d.score;});


    let g = svg.selectAll(".arc")
            .data(pie(data))
            .enter().append("g")
            .attr("class","arc")
            .attr("d", arc)
            .on("mousemove",function(d){
              var mouseVal = d3.mouse(this);
              div.style("display","none");
              div.html("<div class='explanation'>"+d.data.id+"</br>"+ "score: " + d.data.score+"</br>"+"weight: "+((1/data.length)*100).toFixed(1)+"%</div>")
                      .style("left", (d3.event.pageX+12) + "px")
                      .style("top", (d3.event.pageY-10) + "px")
                      .style("opacity", 1)
                      .style("font-family", 'Lato')
                      .style('font-size', "20px")
                      .style("display","block");
            })
            .on("mouseout",function(){div.html(" ").style("display","none");});



    g.append("path")
            .style("fill","transparent")
            .attr("d", arc)

            .transition().delay(function(d,i) {return i * 400;}).duration(400)

            .attrTween('d', function(d) {
              var i = d3.interpolate(d.startAngle+0.1, d.endAngle);
              return function(t) {
                d.endAngle = i(t);
                return arc(d);
              }})
            .attr("d",arc)
            .style("fill",function(d){return d.data.c;});

  }

</script>
<script type="text/javascript">
  $(document).ready(function () {
    $("#sidebar").mCustomScrollbar({
      theme: "minimal"
    });

    $('#sidebarCollapse').on('click', function () {
      $('#sidebar, #content').toggleClass('active');
      $('.collapse.in').toggleClass('in');
      $('a[aria-expanded=true]').attr('aria-expanded', 'false');
    });
  });
</script>
</body>
</html>
